[Desktop Entry]
Type=Application
Name=Instrumentation_GUI
Exec=lxterminal --working-directory=/home/sc/Python/Solarcar -e /home/sc/Python/Solarcar/start_instrumentation_gui.sh


